* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
}

 body{
    display: flex;
    width: 1440px;
    height: 1024px;
    top: -537px;
    left: -720px;
    gap: 0px;
   
}
.container {
    display: flex;
    width:504px;
    height:617px;
    padding:35px;
    gap:26px;
    border-radius: 10px;
    background: #FFFFFF;
    border: 0.5px solid #878787;
    flex-direction: column;
    & h1{
        font-family: Poppins;
        font-size: 25px;
        font-weight: 300;
        line-height: 37.5px;
        text-align: left;

    }
   
}

input{
    width: 423px;
    justify-content: space-between;
    border: #282828 0.6px solid;
    padding: 19px 27px;
    border-radius: 6px;

}



